# 后端用户服务地址
VITE_API_BASE_URL=http://localhost:8083

# 图片服务地址，用于注册头像上传
VITE_IMAGE_SERVICE_BASE_URL=http://localhost:8086/api/images

# Docker API 服务地址
VITE_DOCKER_API_URL=http://localhost:3000

# FastAPI Agent 服务地址
VITE_AGENT_BASE_URL=http://localhost:8010
